.section-content_body {
     width: 95vw;
     display: grid;
     grid-template-columns: 40% 55%;
     gap: 5%;
}
.section-content_body article {
     display: flex;
     flex-direction: column;
}
.box-with-border-radius {
     height: 13.0rem;
     width: 30rem;
     border: 1px solid #ccc; 
     
     display: flex;
     justify-content: center;
     align-items: center;
}
.section-content_body {
      margin-top: 2rem;
}
input {
     height: 2.0rem;
     width: 13.6rem;
     border: 1px solid #ccc;
     text-indent: 10px;;
}

@media screen and (max-co)  {
     
}